@import "../node_modules/compass-mixins/lib/compass/reset";
@import "../node_modules/compass-mixins/lib/compass/css3";

.wrap {
  overflow: hidden;
}
.section4 {
  height: 879px;
  background: url(./assets/img/bg4_b14cdcc.jpg) no-repeat center top;
}
